@model IEnumerable<DotW.Models.ApplicationUser>

@{
    ViewBag.Title = "Administrar Usuarios";
}

<h2>Administración de Usuarios</h2>
<br />
<p>
    @Html.ActionLink("Nuevo Usuario", "Create", "User", null, new { @class = "btn btn-success" })
</p>
<br />
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Email confirmado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => user.UserName)</td>
                <td>@Html.DisplayFor(model => user.Email)</td>
                @if (user.EmailConfirmed)
                {
                    <td>Si</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>
                    @Html.ActionLink("Editar", "Edit", "User", new { token = user.Id }, new { id = user.Id, @class = "btn btn-primary" })
                    @Html.ActionLink("Detalles", "Details", "User", new { token = user.Id }, new { id = user.Id, @class = "btn btn-info" })
                    @Html.ActionLink("Eliminar", "Delete", "User", new { token = user.Id }, new { id = user.Id, @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>