@model DotW.Models.CreateCategoryViewModel
@{
    ViewBag.Title = "Nueva categoría";
}

<h2>Crear una nueva categoría</h2>

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Summary, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Summary, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IdUpperCategory, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdUpperCategory, (IEnumerable<SelectListItem>)ViewBag.Categories, "Seleccione una categoría", new { @class = "form-control" })
        </div>
    </div>
    <p>
        @Html.ActionLink("Cancelar", "Index", "Category", null, new { @class = "btn btn-default" })
        <input type="submit" class="btn btn-success" value="Guardar" />
    </p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

