@model  DotW.Models.DeleteCategoryViewModel
@{
    ViewBag.Title = "Eliminar categoría";
}
<h2>Confirmar eliminación</h2>
<h3>¿Está seguro que desea eliminar esta categoría?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Model.Title</dd>
    </dl>
    <span class="text-danger">@Html.ValidationSummary()</span>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input id="id" name="id" type="hidden" value=@Model.Id />
        <input id="title" name="title" type="hidden" value=@Model.Title />
        <div class="form-actions no-color">
            @Html.ActionLink("Volver a la lista", "Index", "Category", null, new { @class = "btn btn-default" })
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
