@model DotW.Models.DetailsCategoryViewModel

@{
    ViewBag.Title = "Detalle de la Categoría";
}
    <h2>@Model.Title</h2>

    <div>
        @if (Model.IdUpperCategory.HasValue)
        {
            <p>
                <strong>@Html.DisplayNameFor(model => model.TitleUpperCategory) : </strong>
                <a href="@Url.Action("Details", "Category", new { id = Model.IdUpperCategory })">@Model.TitleUpperCategory</a>
            </p>
        }
        <p><i>@Model.Summary</i></p>
        <div>
            <p class="lead">@Html.Raw(Model.Description)</p>
        </div>
    </div>
    <p>
        @Html.ActionLink("Volver", "Index", "Category", null, new { @class = "btn btn-default" })
    </p>