@model DotW.Models.IndexCategoryViewModel
@{
    ViewBag.Title = "Administración de Categorías";
    int CategoryBoydLength = 0;
}

<h2>Administración de Categorías</h2>
<br />
<p>
    @Html.ActionLink("Nueva Categoría", "Create", "Category", null, new { @class = "btn btn-success" })
</p>
<br />
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Título</th>
            <th>Resumen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Category in Model.Categories)
        {
            <tr>
                <td>@Html.DisplayFor(model => Category.Title)</td>
                @if (Category.Summary != null)
                {
                    if (Category.Summary.Length >= 70)
                    {
                        <td>@Category.Summary.Substring(0, 70)...</td>
                    }
                    else
                    {
                        <td>@Category.Summary</td>
                    }
                }
                else
                {
                    <td></td>
                }
                <td>
                    @Html.ActionLink("Editar", "Edit", "Category", new { id = Category.Id }, new { id = Category.Id, @class = "btn btn-primary" })
                    @Html.ActionLink("Detalles", "Details", "Category", new { id = Category.Id }, new { id = Category.Id, @class = "btn btn-info" })
                    @Html.ActionLink("Eliminar", "Delete", "Category", new { id = Category.Id }, new { id = Category.Id, @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

