@model  DotW.Models.DeletePostViewModel
@{
    ViewBag.Title = "Eliminar publicación";
}

<h2>Confirmar eliminación</h2>

<h3>¿Está seguro que desea eliminar esta publicación?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Model.Title</dd>
        <dd>&nbsp;</dd>
        <dt>@Html.DisplayNameFor(model => model.Summary)</dt>
        <dd class="post-summary">@Model.Summary</dd>
        <dd>&nbsp;</dd>
        <dt>@Html.DisplayNameFor(model => model.CategoryTitle)</dt>
        <dd>@Model.CategoryTitle</dd>
        <dd>&nbsp;</dd>
        <dt>@Html.DisplayNameFor(model => model.IsDraft)</dt>
        <dd>@(Model.IsDraft ? "Borrador" : "Publicado")</dd>
        <dd>&nbsp;</dd>
        <dt>@Html.DisplayNameFor(model => model.Tags)</dt>
        <dd>
            @foreach (var tag in Model.Tags)
            {
                <span class="tag label label-info">@tag</span>
            }
        </dd>
    </dl>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input id="id" name="id" type="hidden" value=@Model.Id />
        <div class="form-actions no-color">
            @Html.ActionLink("Volver a la lista", "Index", "Post", null, new { @class = "btn btn-default" })
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>