@model DotW.Models.ListPostViewModel
@{
    ViewBag.Title = "Publicaciones";
    List<Entities.CategoryEntities.Category> categories = ViewBag.Categories as List<Entities.CategoryEntities.Category>;
}

@section Styles {
    <script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
    <link href="~/Content/ckeditor/ckeditor_style.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/blog-post.css" rel="stylesheet">
    <!-- Code Highlight -->
    <link href="~/Content/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css" rel="stylesheet" />
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            @if (Model.Posts.Any())
            {
                foreach (var post in Model.Posts)
                {
                        <!-- Title -->
                    <h1>@post.Title</h1>
                        <!-- Author -->
                        <p class="lead">
                            por <a href="#">@post.WriterUserName</a>
                        </p>
                        <hr>
                        <!-- Date/Time -->
                        <p><span class="glyphicon glyphicon-time"></span> Fecha de publicación: @post.EffectDate.ToString("dd/MM/yyyy")</p>
                        <hr>
                        <!-- Preview Image -->
                        @*<img class="img-responsive" src="http://placehold.it/900x300" alt="">
                            <hr>*@
                        <!-- Post Content -->
                        <p class="lead">@Html.Raw(post.Body)</p>
                        <hr>
                        <!-- Blog Comments -->
                        <!-- Comments Form -->
                        @*<div class="well">
                                <h4>Leave a Comment:</h4>
                                <form role="form">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <hr>*@
                        <!-- Posted Comments -->
                        <!-- Comment -->
                        @*<div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        Start Bootstrap
                                        <small>August 25, 2014 at 9:30 PM</small>
                                    </h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </div>*@
                        <!-- Comment -->
                        @*<div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        Start Bootstrap
                                        <small>August 25, 2014 at 9:30 PM</small>
                                    </h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    <!-- Nested Comment -->
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                Nested Start Bootstrap
                                                <small>August 25, 2014 at 9:30 PM</small>
                                            </h4>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                        </div>
                                    </div>
                                    <!-- End Nested Comment -->
                                </div>
                            </div>*@
                        <br />
                }
            }
            else
            {
                <h1>No hay publicaciones asociadas a esta categoría.</h1>
            }
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            @*<div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>*@
            <!-- Blog Categories Well -->
            <div class="well">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Categorías</h4>
                        <ul class="list-unstyled">
                            @foreach (var category in categories.OrderBy(x => x.Title))
                            {
                                <li>@Html.ActionLink(category.Title, "List", "Post", new { idCategory = category.Id }, null)</li>
                                    @*<li><a href="#">@category.Title</a></li>*@
                            }
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>@Html.ActionLink("Ver todas", "List", null, new { @class = "btn btn-success" })</li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- Side Widget Well -->
            @*<div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>*@
        </div>
    </div>
    <hr>
</div>

@section Scripts {
    <!-- View JavaScript -->
    <script src="~/Scripts/Post/List.js"></script>
    <!-- Code Highlight -->
    <script src="~/Content/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
}