@model IEnumerable<DotW.Models.ImageViewModel>
@{ 
    Layout = null;
}
<html>
<head>
    @Styles.Render("~/Content/css")
    <link href="~/Content/ViewsStyles/Post/UploadImagePartial.css" rel="stylesheet" />
</head>
<body>
    @if (Model.Any())
    {
        <div class="container">
            <div class="row">
                @foreach (var image in Model)
                {

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
                        <img class="img-responsive" src="@image.Url" id="#image" data-source="@image.Url" />
                    </a>
                </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="container body-content">
            <h3>No hay imágenes alojadas en el servidor para su cuenta.</h3>
            <h4>Puede agregar nuevas imágenes en la pestaña "Cargar" de la ventana anterior.</h4>
        </div>
    }
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Post/UploadImagePartial.js"></script>
</body>
</html>